@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

:root {
  --ff-sans: "Overpass", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --fs-500: 15px;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(217, 12%, 63%);
  --clr-neutral-400: hsl(216, 12%, 54%);
  --clr-neutral-500: hsl(215, 22%, 15%);
  --clr-neutral-700: hsl(213, 19%, 18%);
  --clr-neutral-900: hsl(216, 12%, 8%);

  --clr-primary-300: hsl(25, 97%, 53%);
}

* {
  box-sizing: border-box;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  min-height: 100vh;
  background-color: var(--clr-neutral-900);
  display: grid;
  place-items: center;
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
}

/* layout */

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.thank-you-state {
  display: none;
  align-items: center;
  flex-direction: column;
}

.rating-state li {
  list-style: none;
}

.rating-radio-item-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  user-select: none;
}

.pop-up-card {
  --flow-spacer: 1em;
  display: flex;
  max-width: 350px;
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-100);
  padding: 1.5rem;
  margin: 0 1.5rem;
}

/* content */

.rating-state img {
  padding: 0.5rem;
  background: var(--clr-neutral-700);
  border-radius: 100em;
}

.pop-up-card h1 {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  font-size: 25px;
}

.pop-up-card h2 {
  font-size: var(--fs-500);
  line-height: 1.4;
  color: var(--clr-neutral-300);
  font-weight: var(--fw-400);
}

.thank-you-state h2 {
  text-align: center;
}

.rating-radio-item-list li {
  line-height: 0;
  background-color: var(--clr-neutral-700);
  /* overflow:hidden allows us to use absolute position's top, left, right, bottom attributes to create a large label radio/checkbox while staying within the li container */
  overflow: hidden;
  text-align: center;
  padding: 1.3rem;
  border-radius: 10rem;
  position: relative;
  z-index: 0;
  color: var(--clr-neutral-300);
}

.rating-state button {
  width: 100%;
  background-color: var(--clr-primary-300);
  border-radius: 1.5rem;
  padding: 0.5em 1em;
  outline: 0;
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.rating-state input {
  display: none;
}

.rating-radio-item-list li:hover {
  background-color: var(--clr-primary-300);
  color: var(--clr-neutral-100);
}

#one:checked ~ .rating-radio-item-list li.radio-one {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}

#two:checked ~ .rating-radio-item-list li.radio-two {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}
#three:checked ~ .rating-radio-item-list li.radio-three {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}
#four:checked ~ .rating-radio-item-list li.radio-four {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}
#five:checked ~ .rating-radio-item-list li.radio-five {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}
.rating-radio-item-list label {
  position: absolute;
  top: -1rem;
  left: -1rem;
  bottom: -1rem;
  right: -1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-you-state p {
  background-color: var(--clr-neutral-900);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}

#submit {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 10px;
  color: var(--clr-neutral-100);
}
